@model IEnumerable<PromotorDePeliculas.Models.Actor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background:url(../Images/blue.jpg); background-size:cover; background-position:center">
    <h1>Lista de Actores</h1>
</div>

<p>
    <a asp-action="Create" class="glyphicon glyphicon-plus"></a>
    Add new
</p>


<form asp-action="Index">
    <p>
        Buscar Nombre por: <input type="text" name="cadenaBuscada">
        Del estado civil: <select asp-items="@Html.GetEnumSelectList<EstadoCivil>()" name="estadoCivil">
            <option value="">Todos</option>
        </select>
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>


            <th>
                @Html.ActionLink("Id", "Index", new { ordena = ViewBag.Id })
            </th>
            <th>
                @Html.ActionLink("Direccion", "Index", new { ordena = ViewBag.Direccion })
            </th>
            <th>
                @Html.ActionLink("Estado Civil", "Index", new { ordena = ViewBag.EstadoCivil })
            </th>
            <th>
                @Html.ActionLink("Fecha de Nacimiento", "Index", new { ordena = ViewBag.FechaNacimiento })
            </th>
            <th>
                @Html.ActionLink("Nombre", "Index", new { ordena = ViewBag.Nombre })
            </th>
            <th>
                @Html.ActionLink("Telefono", "Index", new { ordena = ViewBag.Telefono })
            </th>
            

            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"  class="glyphicon glyphicon-edit"></a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
